.product-list-swiper {
  width: 100%;
  padding: 2rem 4rem;
  /* Kenarlarda oklar için boşluk bırak */
}

/* Dış navigasyon oklarını özelleştirme */
.product-list-swiper .swiper-button-next,
.product-list-swiper .swiper-button-prev {
  color: #000;
}

/* İlerleme çubuğunu özelleştirme */
.product-list-swiper .swiper-pagination-progressbar {
  background: #e0e0e0;
}

.product-list-swiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #000;
}
.product-list-container {
  display: flex;
  flex-direction: row;
  /* Yatay sıralama */
  overflow-x: auto;
  /* Yatay kaydırmayı etkinleştir */
  gap: 1rem;
  /* Kartlar arasındaki boşluk */
  padding: 1rem;
}